// /* Structure */
body {
  @media (max-width: 40em) {
    --base-font-size: 12px;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.1rem;
  }
  
}

.grid-section {
  height: 100%;
  width: 100%;
  display: grid;
  gap: var(--s0);
  grid-template-rows: 1fr;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-areas: 
    "a right b";  

  @media (min-width: 40em) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "left right";  
  }
}

.intro:after {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 20vh;
  background-image: linear-gradient(hsla(0,0%,0%,1), hsla(0,0%,0%,0));
  z-index: 0;
  content: '';
}

.intro-section__content {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// /* Visuals */

.grid-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.intro-section__content {
  position: relative;
  align-self: end;
  margin-bottom: 20vh;
}

.intro-1 strong { font-weight: 800; }

.prev-link,
.next-link {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--white-color);
  z-index: 1;
  
  @media (max-width: 40em) {
    font-size: 1.5rem;
    width: 48px;
    height: 48px;
    bottom: -48px;
  }
}

.next-link {
  background-color: var(--primary-color);
  right: -80px;
  @media (max-width: 40em) { left: calc(50%); }
}

.prev-link {
  background-color: var(--secondary-color);
  left: -80px;
  @media (max-width: 40em) { left: calc(50% - 48px); }
}

.panel {
  margin-top: var(--s1);
  @media (max-width: 40em) { padding: var(--s1); }
  padding: var(--s2);
  
  z-index: 10;
  background-color: hsla(var(--white-hsl), 1);
  box-shadow: 6px 6px 16px rgba(0,0,0, .2);
  position: relative;
}

.heading {
  background-color: hsla(var(--white-hsl), 1);
  display: inline-block;
  width: auto;
  padding: var(--s0) var(--s2);
  position: relative;
  z-index: 10;
  box-shadow: 6px 6px 16px rgba(0,0,0, .2);
}

section {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slides {
  width: 100vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100%;
}
.slides-track {
  display: flex;
  width: 400vw;
  height: 100%;
}

section {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slides {
  width: 100vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100%;
}
.slides-track {
  display: flex;
  width: 400vw;
  height: 100%;
}

#intro-1 .intro-section__content { position: relative; }

.slide {
  flex-basis: 100vw;
  width: 100vw;
  height: 100%;
}

.resources-content {
  @media (max-width: 40em) {
    p { display: none;}
  }
}
